<div class="container-fluid">
  <app-pagetitle title="Dashboard" ></app-pagetitle>

  
  
 <!-- new-->
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-head">
          <table class="table table-centered">
            <thead class="thead-light" >
              <tr >
                <th><h5 class="card-title mb-2">BEST GAINERS</h5></th>

               
                <th><h5 class="card-title mb-2">WORST LOSERS</h5></th>
                </tr>
            </thead>
          </table>
          </div>
      <div class="card-body">
        <h6>
        <div>
           
          <table class="table table-centered">
            <thead class="thead-light">
              <tr>
                <th>TICKER</th>
                <th>1D</th>
                <th>TICKER</th>
                <th>1W</th>
                <th>TICKER</th>
                <th>YTD</th>
              </tr>
           </thead>
           <tbody>
           <tr>
            <td>GDL</td>
            <td>3.65%</td>
            <td>GDL</td>
            <td>10.27%</td>
            <td>SIC</td>
            <td>300.00%</td>
           </tr>
          
           <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>GDL</td>
            <td>82.87%</td>
           </tr>
           <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>TBL</td>
            <td>47.06%</td>
           </tr>
           <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>ACCESS</td>
            <td>27.30%</td>
           </tr>
           <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>EGL</td>
            <td>14.70%</td>
           </tr>
           
            </tbody>


         </table>
       
        
          
          
           
         </div>
        </h6>
      
      </div>
       
      </div>
    </div>
    
    
      <div class="col-4">
        <div class="card" >
        <div class="card-head">
          <table class="table table-centered">
            <thead class="thead-light">
              <tr>
                <th><h5 class="card-title mb-2">GRAPH:</h5></th>
                <th><h5 class="card-title mb-2">1D</h5></th>
                <th><h5 class="card-title mb-2">1W</h5></th>
                <th><h5 class="card-title mb-2">1M</h5></th>
                <th><h5 class="card-title mb-2">3M</h5></th>
                <th><h5 class="card-title mb-2">6M</h5></th>
                <th><h5 class="card-title mb-2">YTD</h5></th>
                <th><h5 class="card-title mb-2">1Y</h5></th>
                </tr>
            </thead>
          </table>
        </div>
          <div class="card-body">
          <img sr="" 
          alt="">
          
        </div>
         
            </div>
        </div>
      
        <div class="col-4">
          <div class="card">
            <div class="card-head">
              <table class="table table-centered">
                <thead class="thead-light">
                  <tr>
                    <th><h5 class="card-title mb-2">PRICE TO EARNINGS</h5></th>
    
                    <th><h5 class="card-title mb-2">PRICE TO BOOK</h5></th>
                    </tr>
                </thead>
              </table>
              </div>
         
          <div class="card-body">
            <h6>
              <div>
                 
                <table class="table table-centered">
                  <thead class="thead-light">
                    <tr>
                      <th>BEST COMPANIES</th>
                      <th>P/E</th>
                      <th>DPS</th>
                      <th>Divided yield</th>
                    </tr>
                 </thead>
                 <tbody>
                 <tr>
                  <td>ACCESS Bank</td>
                  <td>0.79</td>
                  <td>0.79</td>
                  <td>0.79</td>
                 </tr>
                 <tr>
                  <td>TotalEnergies</td>
                  <td>0.68</td>
                  <td>0.68</td>
                  <td>0.68</td>
                 </tr>
                 <tr>
                  <td>Benso Oil Palm</td>
                  <td>1.06</td>
                  <td>1.06</td>
                  <td>1.06</td>
                 </tr>
                   
                  </tbody>
               </table>
               <table class="table table-centered">
                <thead class="thead-light">
                  <tr>
                    <th>BEST COMPANIES</th>
                    <th>P/E</th>
                    <th>DPS</th>
                    <th>Divided yield</th>
                  </tr>
               </thead>
               <tbody>
               <tr>
                <td>ACCESS Bank</td>
                <td>0.79</td>
                <td>0.79</td>
                <td>0.79</td>
               </tr>
               <tr>
                <td>TotalEnergies</td>
                <td>0.68</td>
                <td>0.68</td>
                <td>0.68</td>
               </tr>
               <tr>
                <td>Benso Oil Palm</td>
                <td>1.06</td>
                <td>1.06</td>
                <td>1.06</td>
               </tr>
               
                </tbody>


             </table>
              
                
                
                 
               </div>
              </h6>
          </div>
          </div>
         </div>   
        </div>
            <!--end -->
    <!-- new-->


    <div class="row">
      <div class="col-8" >
         <div class="card"style="height:52rem;">
           <div class="card-head">
             <table class="table table-centered">
               <thead class="thead-light">
                 <tr>
                   <th><h5 class="card-title mb-2">NEWS</h5></th>
                   
                 </tr>
               </thead>
             </table>
   
           </div>
           <div class="card-body">
            
   
           </div>
           <div class="card-body">
             
            <div class="table-responsive">
             <div class="text-center mt-1">
              
             </div>
             <div class="words">
            <h6>
              <div class="text-left">
                 <p class="mb-2">HEADLINE NEWS IN GHANA</p>
             
               </div>
             </h6>
               
                <div>
                 <ul>
                   <a href="#">  <p> <li>Ghana's Cedi slumps to world's worst performer amid IMF talks.</li></p></a>
                <a href="#"> <p><li>Cedi lost 9% value to dollar in only a week.</li></p></a>
                <a href="#"><p><li>Government achieves 11% oversubscription of T-biils sale but interest costs surge.</li></p></a>
                 <a href="#"><p><li>Ethiopia restricts use of foreign currency</li></p></a>
                <a href="#">  <p> <li>Ghana's Cedi slumps to world's worst performer amid IMF talks.</li></p></a>
                <a href="#">  <p> <li>Ghana's Cedi slumps to world's worst performer amid IMF talks.</li></p></a>
                <a href="#">  <p> <li>Ghana's Cedi slumps to world's worst performer amid IMF talks.</li></p></a>
                <a href="#">  <p> <li>Ghana's Cedi slumps to world's worst performer amid IMF talks.</li></p></a>
                </ul>
                </div>
               
              <h6>
                <div class="text-left">    
                 <p class="mb-2">AFRICAN NEWS</p>
                 </div>
               </h6>
               
                <div>
                 <ul>
                   <a href="#"> <p> <li>19 Sub-Saharan Africans countries in debt distress or high risk of distress </li></p></a>
                  <a href="#"><p><li>IMF</li></p></a> 
                  <a href="#"><p><li>Nigeria's Fidelity Bank Settles $400 Million Eurobond Due Monday</li></p></a> 
                  <a href="#"> <p><li>Emerging markets hurt less as dollar's wrath sinks rich nations</li></p></a>
                  <a href="#"><p> <li>Zimbabwe will keep world's highest interest rates into 2023</li></p></a>
                  <a href="#"> <p> <li>Ethiopia restricts use of foreign currency</li></p></a>
                  <a href="#"> <p> <li>19 Sub-Saharan Africans countries in debt distress or high risk of distress </li></p></a>
                  <a href="#"> <p> <li>19 Sub-Saharan Africans countries in debt distress or high risk of distress </li></p></a>

                 </ul>
                </div>
               
                </div>
             </div>

            </div>

         </div>

       </div>
      

      <div class="col-4">
       <div class="row">
          <div class="card">
           <div class="card-head">
             <table class="table table-centered">
               <thead class="thead-light">
                 <tr>
                   <th><h5 class="card-title mb-2">CURR/INTERBANK FOREX RATE</h5></th>

                   <th><h5 class="card-title mb-2">GRAPH</h5></th>
               </thead>
             </table>
           </div>
          <div class="card-body">
           <div class="table-responsive">
             <div class="text-center mt-1">
              
             </div>
             <h6>
             <div>
             <table class="table table-centered">
               <thead class="thead-light">
                 <tr>
                   <th>CURRENCY PAIR</th>
                   <th>CURR.DATE</th>
                   <th>D/D CHANGE (%)</th>
                   <th>YTD</th>
                 </tr>
              </thead>
 
              <tbody>
              <tr>
              <td>USD/GHS</td>
              <td>10.8709</td>
              <td>-1.42%</td>
              <td>-44.75%</td>
              </tr>
               <tr>
                 <td>EUR/GHS</td>
                 <td>10.6958</td>
                 <td>-2.47%</td>
                 <td>-36.13%</td>
 
               </tr>
              <tr>
               <td>GBP/GHS</td>
               <td>12.3836</td>
               <td>-3.11%</td>
               <td>-34.34%</td>
              </tr>
              <tr>
               <td>JPY/GHS</td>
               <td>0.0731</td>
               <td></td>
               <td></td>
              </tr>
              <tr>
               <td>AUD/GHS</td>
               <td>6.8463</td>
               <td></td>
               <td></td>
              </tr>
              <tr>
               <td>CAD/GHS</td>
               <td>7.9263</td>
               <td></td>
               <td></td>
              </tr>
                             
             </tbody>
             </table>
               
                </div>
                </h6>
               
                </div>
          </div>

          </div>
          
          <div class="card">
           <div class="card-head">
             <div class="table-responsive">
               <div class="text-center mt-1">
                 <table class="table table-centered">
                   <nav>
                   <thead class="thead-light">    
                    <tr>
                                
                       <th><h5 class="card-title mb-4">MOST VALUE TRADED</h5></th>
             
                       <th><h5 class="card-title mb-4">MOST VOLUME TRADED</h5></th>
                     
                      </tr>
                    </thead>
                   </nav>
                 </table>
               </div>
               </div>
            
             </div>
             
           
           
            <div class="card-body">
             <h6>
               <div>
                  
                 <table class="table table-centered">
                   <thead class="thead-light">
                     <tr>
                       <th>COMPANY</th>
                       <th>SHARED PRICE (GHS)</th>
                       <th>VOLUME TRADED</th>
                       
                     </tr>
                  </thead>
                  <tbody>
                  <tr>
                   <td>SIC Insurance</td>
                   <td>0.32</td>
                   <td>10.460</td>
                  </tr>
                  <tr>
                   <td>GCB Bank</td>
                   <td>3.95</td>
                   <td>9.163</td>
                  </tr>
                  <tr>
                   <td>MTN Ghana</td>
                   <td>0.88</td>
                   <td>4.562</td>
                  </tr>
                  <tr>
                   <td>NewGOLD EFT</td>
                   <td>198.60</td>
                   <td>3.542</td>
                  </tr>
                  <tr>
                   <td>Intravenous Infusions</td>
                   <td>0.04</td>
                   <td>669</td>
                  </tr>
                  
                   </tbody>
 
 
                </table>
              
               
                 
                 
                  
                </div>
               </h6>
    
           </div>

         </div> 
          

          
        
          </div>
        
       </div>
 
  
   
     </div> 

 

   
 
 
 <!-- end row --> 



   <!-- new-->

   <div class="row">
       
    <div class="col-12">
      <div class="card">
        <div class="card-head">
          <table class="table table-centered">
            <thead class="thead-light">
              <tr>
                <th><h5 class="card-title mb-2">MONTHLY</h5></th>
                <th><h5 class="card-title mb-2">WEEKLY</h5></th>
                <th><h5 class="card-title mb-2">TODAY</h5></th>
                <th><h5 class="card-title mb-2">RANGE:</h5></th>
            </thead>
          </table>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
            <div class="card">
             <div class="card-head">
              <table class="table table-centered">
                <thead class="thead-light">
                  <tr>
                    <th><h5 class="card-title mb-2">DATE</h5></th>
                   </tr>
                </thead>
              </table>
             </div>
              <div class="card-body">
  
              </div>
            </div>
            </div>
            <div class="col-2">
            <div class="card">
              <div class="card-head">
                <table class="table table-centered">
                  <thead class="thead-light">
                    <tr>
                      <th><h5 class="card-title mb-2">DATE</h5></th>
                     </tr>
                  </thead>
                </table>
              </div>
              <div class="card-body">
                
              </div>
            </div>
            </div>
            <div class="col-2">
              <div class="card">
                <div class="card-head">
                  <table class="table table-centered">
                    <thead class="thead-light">
                      <tr>
                        <th><h5 class="card-title mb-2">DATE</h5></th>
                       </tr>
                    </thead>
                  </table>
                </div>
                <div class="card-body">
                  
                </div>
              </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-head">
                    <table class="table table-centered">
                      <thead class="thead-light">
                        <tr>
                          <th><h5 class="card-title mb-2">DATE</h5></th>
                         </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="card-body">
                    
                  </div>
                </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <div class="card-head">
                      <table class="table table-centered">
                        <thead class="thead-light">
                          <tr>
                            <th><h5 class="card-title mb-2">DATE</h5></th>
                           </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="card-body">
                      
                    </div>
                  </div>
                  </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-head">
                    <table class="table table-centered">
                      <thead class="thead-light">
                        <tr>
                          <th><h5 class="card-title mb-2">DATE</h5></th>
                         </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="card-body">
                    
                  </div>
                </div>
                </div>
           
  
          </div>
          </div>
         </div>
        </div>
      </div>

   
 
 

   

   <!-- end row-->
  
</div>      
 
 
      
    
 

  
    
  
   
 
 

  





